body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #e8f5e9;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2e7d32;
}

.form-group input {
    width: 93%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #a5d6a7;
    font-size: 1rem;
}

input:focus, select:focus {
    outline: none;
    border-color: #388e3c;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
}

button {
    background: #388e3c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

select {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #a5d6a7;
    font-size: 1rem;
}

button:hover {
    background: #2e7d32;
}

.error {
    color: #d32f2f;
    text-align: center;
    margin-bottom: 1rem;
}

.success {
    color: #2e7d32;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    text-align: center;
}

a {
    color: #2e7d32;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.checkbox-label {
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    display: inline-block;
}